<div class="container mt-5 "  style="background-image: url('public/burger.jfif'); background-size: cover; background-position: center; height: 100vh; padding: 20px; ">
  <h1>Update Customer</h1>
  <form (ngSubmit)="onUpdate()">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="fullName"
        name="fullName"
        [(ngModel)]="user.fullName"
        required
      />
    </div>
    <div class="form-group mt-3">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>
   
    <button type="submit" class="btn btn-primary mt-3">Update Customer</button>
  </form>
  
  <button *ngIf="isCustomer" (click)="goBack(user.userId)" class="btn btn-primary mt-3">Back to List</button>
  <button *ngIf="isAdmin" routerLink="/customerget" class="btn btn-primary mt-3">Back to List</button>
  
  
</div>
