<div class="admin-container" style="background-image: url('public/admin_bg.jfif'); background-size: cover; background-position: center; height: 100vh; padding: 20px;">
    <div class="header">
      <h1>Admin Dashboard</h1>
      <p class="quote">"The secret to success in business is to focus on serving the customer."</p>
      <img src="public/logo.jfif" alt="Admin Banner"  height="200px" width="200px">
    </div>
  
    <div class="button-group">
      <button class="btn btn-customer mr-3" (click)="navigateToCustomers()">viewDetails</button>
      <button class="btn btn-delivery mr-3" (click)="navigateToDeliveryStaff()">Register Delivery Staff & Restaurant Owner</button>
     
      
      <button class="btn btn-back mr-3" (click)="Orders()">Order</button>
      <button class="btn btn-back mr-3" (click)="home()">Back</button>
    </div>
  </div>
  