<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 rounded" style="max-width: 500px; width: 100%;">
    <h2 class="text-center mb-4">Add New Menu Item</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="menuItem.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          [(ngModel)]="menuItem.description"
          name="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          [(ngModel)]="menuItem.price"
          name="price"
          required
        />
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="isAvailable"
          [(ngModel)]="menuItem.isAvailable"
          name="isAvailable"
        />
        <label class="form-check-label" for="isAvailable">Available</label>
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          [(ngModel)]="menuItem.image"
          name="image"
        />
      </div>

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-primary">Add Menu Item</button>
        <button (click)="goback()" class="btn btn-secondary">Go Back</button>
      </div>
    </form>
  </div>
</div>
